# Es importante no eliminar este fichero del directorio actual para
# que la ejecución de los comandos de creación y eliminación automática
# del Bucket no fallen.
AWS_BUCKET_NAME=
AWS_KEY_PAIR_NAME=
AWS_STACK_NAME=
AWS_RDS_DB_PASSWORD=